apiVersion: apps/v1
kind: Deployment
metadata:
  name: account-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: account
  template:
    metadata:
      labels:
        app: account
    spec:
      containers:
      - name: account
        image: account-service:v1
        imagePullPolicy: Never
        ports:
        - containerPort: 8081
        env:
        - name: DB_HOST
          value: "account-db"
        - name: DB_PORT
          value: "5432"
        - name: DB_NAME
          value: "gocore"
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: db-credentials
              key: postgres-user
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: db-credentials
              key: postgres-password
