apiVersion: apps/v1
kind: Deployment
metadata:
  name: account-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: account
  template:
    metadata:
      labels:
        app: account
    spec:
      containers:
      - name: account
        image: account-service:v1
        imagePullPolicy: Never
        ports:
        - containerPort: 8081
        env:
        - name: DATABASE_URL
          value: "postgres://postgres:password@account-db:5432/gocore?sslmode=disable"
