apiVersion: v1
kind: Service
metadata:
  name: account-service
spec:
  selector:
    app: account
  ports:
  - name: grpc
    port: 8081
    targetPort: 8081
  - name: health
    port: 8080
    targetPort: 8080