apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: order
  template:
    metadata:
      labels:
        app: order
    spec:
      containers:
      - name: order
        image: order-service:v1
        imagePullPolicy: Never
        ports:
        - containerPort: 8083
        env:
        - name: DB_HOST
          value: "order-db"
        - name: DB_PORT
          value: "5432"
        - name: DB_NAME
          value: "gocore"
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: db-credentials
              key: postgres-user
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: db-credentials
              key: postgres-password
        - name: ACCOUNT_SERVICE_URL
          value: "account-service:8081"
        - name: PRODUCT_SERVICE_URL
          value: "product-service:8082"
