apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: order
  template:
    metadata:
      labels:
        app: order
    spec:
      containers:
      - name: order
        image: order-service:v1
        imagePullPolicy: Never
        ports:
        - containerPort: 8083
        env:
        - name: DATABASE_URL
          value: "postgres://postgres:password@order-db:5432/gocore?sslmode=disable"
        - name: ACCOUNT_SERVICE_URL
          value: "account-service:8081"
        - name: PRODUCT_SERVICE_URL
          value: "product-service:8082"
