apiVersion: v1
kind: Service
metadata:
  name: order-service
spec:
  selector:
    app: order
  ports:
  - name: grpc
    port: 8083
    targetPort: 8083
  - name: health
    port: 8080
    targetPort: 8080