apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: product
  template:
    metadata:
      labels:
        app: product
    spec:
      containers:
      - name: product
        image: product-service:v3
        imagePullPolicy: Never
        ports:
        - containerPort: 8082
        - name: liveness-port
          containerPort: 8080
        readinessProbe:
          httpGet:
            path: /ready
            port: liveness-port
          initialDelaySeconds: 5
          periodSeconds: 10
          timeoutSeconds: 3
          failureThreshold: 3
          successThreshold: 1
        livenessProbe:
          httpGet:
            path: /health
            port: liveness-port
          initialDelaySeconds: 30
          periodSeconds: 60
          timeoutSeconds: 10
          failureThreshold: 2
        startupProbe:
          httpGet:
            path: /health
            port: liveness-port
          failureThreshold: 30
          periodSeconds: 10
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "300m"
            memory: "256Mi"
        env:
        - name: DATABASE_URL
          value: "http://product-db:9200"
