apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: product
  template:
    metadata:
      labels:
        app: product
    spec:
      containers:
      - name: product
        image: product-service:v1
        imagePullPolicy: Never
        ports:
        - containerPort: 8082
        env:
        - name: DATABASE_URL
          value: "http://product-db:9200"
