apiVersion: v1
kind: Service
metadata:
  name: product-service
spec:
  selector:
    app: product
  ports:
  - name: grpc
    port: 8082
    targetPort: 8082
  - name: health
    port: 8080
    targetPort: 8080