apiVersion: apps/v1
kind: Deployment
metadata:
  name: graphql
spec:
  replicas: 2
  selector:
    matchLabels:
      app: graphql
  template:
    metadata:
      labels:
        app: graphql
    spec:
      containers:
        - name: graphql
          image: graphql-service:v2
          imagePullPolicy: Never
          ports:
          - containerPort: 8081
          - name: liveness-port
            containerPort: 8080
          readinessProbe:
            httpGet:
              path: /ready
              port: liveness-port
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 3
            successThreshold: 1
          livenessProbe:
            httpGet:
              path: /health
              port: liveness-port
            initialDelaySeconds: 30
            periodSeconds: 60
            timeoutSeconds: 10
            failureThreshold: 2
          startupProbe:
            httpGet:
              path: /health
              port: liveness-port
            failureThreshold: 30
            periodSeconds: 10
          env:
          - name: ACCOUNT_SERVICE_URL
            value: "account-service:8081"
          - name: PRODUCT_SERVICE_URL
            value: "product-service:8082"
          - name: ORDER_SERVICE_URL
            value: "order-service:8083"
